gTTS
happytransformer
imageai
inflect
keras_ocr
num2words
numpy
opencv_python
sentencepiece
streamlit
torch
torchvision
transformers
ultralytics
Pillow
nltk
pandas
pytorch_lightning
scikit_learn
smart_open
python-dotenv
docopt